# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environments
venv/
.venv/
env/
ENV/

# Sensitive & Personal Files
INVOICE_JOKI.md
.env
.env.*

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
